@use "sass:color";

.announcements {
    // position: absolute;
    // bottom: 4rem;
    // right: 2.5rem;
    background-color: rgba($color-white, 0.8);
    padding: 1.6rem;
    border-radius: 5px;
    font-size: 1.6rem;
    color: $color-primary;
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    align-items: center;
    z-index: 20;

    &[aria-expanded="false"] {
        .announcements__details {
            display: none;
        }
        .announcements__closed {
            display: flex;
            align-items: center;
            gap: 2.4rem;
        }
        .announcements__open {
            display: none;
        }
    }

    &[aria-expanded="true"] {
        .announcements__details {
            display: block;
        }
        .announcements__closed {
            display: none;
        }
        .announcements__open {
            display: inline-block;
        }
    }

    &--hero {
        display: flex;
       

        @include breakpoint(medium) {
            display: none;
        }

       
    }

    &--footer {
        display: none;
        @include breakpoint(medium) {
            display: flex;
        }
    }
    

    &__header {
        cursor: pointer;
        display: flex;
        align-items: center;
        span {
            font-size: 2.4rem;
        }
    }

    &__details {
        display: block;

        p {
            margin-bottom: 0;
            text-align: left;
        }
        a {
            color: $color-errors !important;
            font-size: 1.6rem !important;
            text-align: left!important;
        }
    }
}
