.weather {
    margin-right: 1rem;
    &--icons {
        position: absolute;
        bottom:0;
        left: 2.5rem; 
        z-index: 5;
        & {
            @include breakpoint(medium) {
                bottom:4rem;
                left: 4rem;
            }  
        }
       
    }
    
   
    

   &__info {
    display: flex;
    gap: 1.6rem;
    a {
        color: $color-white;
        display: flex;
    }

   }

   &__detail {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    font-size: 1.75rem;
    line-height: 1;
    text-align: center;
   }

   &__icon {
    width: 45px;
    
    img {
        object-fit: cover;
    }
   }

}