.weather {
    // position: absolute;
    // bottom: 5rem;
    // left: 2.5rem;
    // @include breakpoint(medium) {
    //     bottom:4rem;
    //     left: 4rem;
    // }
    

   &__info {
    display: flex;
    gap: 2.4rem;
    color: $color-white;
   }

   &__detail {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    line-height: 1;
    text-align: center;
   }

}