.form {
    &--modal {
        background-color: lighten($color-dark, 100);
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        padding-bottom: 2.4rem;
        border-radius: 10px;
    }
    input[type="text"],
    input[type="tel"],
    input[type="file"],
    input[type="date"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        width: 100%;
        border-radius: 5px;
        font-size: 1.6rem;
        padding: 1rem;
        margin-bottom: 4rem;
    }
    &__fieldset {
        border: 1px solid $color-dark;
        border-radius: 5px;
        padding: 3.5rem 1.6rem;
    }

    &__legend {
        font-size: 1.8rem;
        padding: 1rem;
    }

    &__label {
        color: $color-dark;
        font-size: 1.6rem;

        &--req::after {
            content: "*";
            color: $color-errors;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
        gap:2rem;
    }

    &__row 
    &__item {
        input[type="text"],
        input[type="tel"],
        input[type="file"],
        input[type="date"],
        input[type="email"],
        input[type="password"],
        textarea,
        select {
            width: 100%;
        }
    }

    &__buttons-group {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include breakpoint(medium) {
            flex-direction: row;
        }
        margin-top: 3.2rem;
    }
}