html {

    font-size: 62.5%;
    height: 100%;
}

body {
    font-optical-sizing: auto;
    font-family: $body;
    font-weight: $font-normal;
    color: $color-dark;
    font-optical-sizing: auto;
    line-height: 1.75;
    height: 100%;
}

.no-scroll {
    overflow: hidden;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        width: 100%;
    }
}

.inner__container {
    max-width: 96rem;
    margin: 0 auto;
    margin-top: 4rem;
}

.intro { 
    
    color: $color-primary;
    p {
        font-size: 2.304rem;
        line-height: 1.35;
    }
}

a {
    color: $color-white;
    text-decoration: none;
}
