html {

    font-size: 62.5%;
    height: 100%;
}

body {
    font-optical-sizing: auto;
    font-family: $body;
    font-weight: $font-normal;
    color: $color-dark;
    font-optical-sizing: auto;
    line-height: 1.75;
    height: 100%;
}

.no-scroll {
    overflow: hidden;
    touch-action: none;
}

main {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        width: 100%;
    }
}

.inner__container {
    max-width: 96rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    margin-top: 4rem !important;
    
    // General styles for medium screens and above
    @include breakpoint(large) {
        margin: 0 auto;
    }

    // Styles specifically for landscape views
    @include breakpoint(mobile, landscape) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    &--grid { 
        display: grid;
        gap: 6rem;

        .content {
            order: 2; /* Ensures content is in the first column */

            h2 {
                font-size: 3rem;
                margin-bottom: 2.4rem;
                @include breakpoint(medium) {
                    font-size: 4.479rem;
                }
            }

            
        }
    
        .class-info {
            
            order: 1; /* Ensures aside is in the second column */

        }
        grid-template-columns: 1fr;
        @include breakpoint(medium) {
            grid-template-columns: 2fr 1fr;

            .content {
                order: 1; /* Ensures content is in the first column */
            }
        
            .class-info {
                
                order: 2; /* Ensures aside is in the second column */
    
            }
        }

        
       
    }
}

.large {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}

.small {
    display: block;

    @include breakpoint(medium) {
        display: none;
    }
}

.intro { 
    
    color: $color-primary;
    p {
        font-size: 2.304rem;
        line-height: 1.35;
    }
}

a {
    color: $color-link;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

hr {
    margin: 0 0 2.4rem 0;
    border-top: 1.5px solid $color-secondary; 
}