h1 {
    font-size: 5.375rem;
    font-weight: $font-heavy;
    line-height: 1.1;
    letter-spacing: 1px;
}
h2 {
    font-size: 4.479rem;
    font-weight: $font-medium;
    line-height: 1.2;
}
h3 {
    font-size: 3.732rem;
    line-height: 1.2;
}
h4 {
    font-size: 2.765rem;
    line-height: 1.25;
}
h5 {
    font-size: 2.304rem;
}
h6 {
    font-size: 1.92rem;
    font-weight: $font-medium;
    line-height: 1.25;
    text-transform: uppercase;
}
button {
    font-size: 1.6rem;
    font-weight: $font-medium;
    text-transform: uppercase;
    letter-spacing: .95px;
}

p,
li,
address {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 2.4rem;
}

li {
    margin-bottom: .8rem;
}

address {
    font-style: normal;
}
