@use "sass:color";

$body: "Work Sans", sans-serif;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-heavy: 600;
//Color
$color-primary: #002E5F;
$color-secondary: #25AAE1;
$color-tertiary: #F8901F;
$color-quaternary: #FFDE16;
$color-dark: #101820;
$color-white: color.adjust($color-dark, $lightness: 87%);
$admin-color-dark: #242e42;
$color-link: $color-secondary;
$color-errors: #BF1E2E;
$color-success: $color-tertiary;
$admin-nav-width:22rem;
// Mobile
$breakpoint-xs-portrait: 0; // Extra small screens portrait (phones)
$breakpoint-xs-landscape: 0; // Extra small screens landscape (phones)
// Tablets
$breakpoint-sm-portrait: 36rem; // Small screens portrait (tablets, landscape phones)
$breakpoint-sm-landscape: 48rem; // Small screens landscape (tablets, small laptops)
$breakpoint-md-portrait: 48rem; // Medium screens portrait (tablets, small laptops)
$breakpoint-md-landscape: 62rem; // Medium screens landscape (small laptops)
// Laptops and Desktops
$breakpoint-lg-portrait: 62rem; // Large screens portrait (laptops, desktops)
$breakpoint-lg-landscape: 75rem; // Large screens landscape (laptops, desktops)
$breakpoint-xl-portrait: 75rem; // Extra-large screens portrait (large laptops, desktops)
$breakpoint-xl-landscape: 87.5rem; // Extra-large screens landscape (large laptops, desktops)
// High-resolution displays (e.g., Retina)
$breakpoint-xxl-portrait: 100rem; // Extra-extra-large screens portrait
$breakpoint-xxl-landscape: 120rem; // Extra-extra-large screens landscape
// Additional Breakpoints (customize as needed)
$breakpoint-xxxl-portrait: 120rem; // Extra-extra-extra-large screens portrait
$breakpoint-xxxl-landscape: 144rem; // Extra-extra-extra-large screens landscape