/* Margin utility classes */
.m-tiny {
  margin: 4px;
}

.m-small {
  margin: 8px;
}

.m-medium {
  margin: 16px;
}

.m-large {
  margin: 24px;
}

.m-huge {
  margin: 32px;
}

.m-giant {
  margin: 40px;
}

.m-enormous {
  margin: 48px;
}

.m-colossal {
  margin: 56px;
}

.m-monstrous {
  margin: 64px;
}

.m-titanic {
  margin: 72px;
}

.mt-tiny {
  margin-top: 4px;
}

.mt-small {
  margin-top: 8px;
}

.mt-medium {
  margin-top: 16px;
}

.mt-large {
  margin-top: 24px;
}

.mt-huge {
  margin-top: 32px;
}

.mt-giant {
  margin-top: 40px;
}

.mt-enormous {
  margin-top: 48px;
}

.mt-colossal {
  margin-top: 56px;
}

.mt-monstrous {
  margin-top: 64px;
}

.mt-titanic {
  margin-top: 72px;
}

.mr-tiny {
  margin-right: 4px;
}

.mr-small {
  margin-right: 8px;
}

.mr-medium {
  margin-right: 16px;
}

.mr-large {
  margin-right: 24px;
}

.mr-huge {
  margin-right: 32px;
}

.mr-giant {
  margin-right: 40px;
}

.mr-enormous {
  margin-right: 48px;
}

.mr-colossal {
  margin-right: 56px;
}

.mr-monstrous {
  margin-right: 64px;
}

.mr-titanic {
  margin-right: 72px;
}

.mb-tiny {
  margin-bottom: 4px;
}

.mb-small {
  margin-bottom: 8px;
}

.mb-medium {
  margin-bottom: 16px;
}

.mb-large {
  margin-bottom: 24px;
}

.mb-huge {
  margin-bottom: 32px;
}

.mb-giant {
  margin-bottom: 40px;
}

.mb-enormous {
  margin-bottom: 48px;
}

.mb-colossal {
  margin-bottom: 56px;
}

.mb-monstrous {
  margin-bottom: 64px;
}

.mb-titanic {
  margin-bottom: 72px;
}

.ml-tiny {
  margin-left: 4px;
}

.ml-small {
  margin-left: 8px;
}

.ml-medium {
  margin-left: 16px;
}

.ml-large {
  margin-left: 24px;
}

.ml-huge {
  margin-left: 32px;
}

.ml-giant {
  margin-left: 40px;
}

.ml-enormous {
  margin-left: 48px;
}

.ml-colossal {
  margin-left: 56px;
}

.ml-monstrous {
  margin-left: 64px;
}

.ml-titanic {
  margin-left: 72px;
}

/* Padding utility classes */
.p-tiny {
  padding-top: 4px;
}

.p-small {
  padding-top: 8px;
}

.p-medium {
  padding-top: 16px;
}

.p-large {
  padding-top: 24px;
}

.p-huge {
  padding-top: 32px;
}

.p-giant {
  padding: 40px;
}

.p-enormous {
  padding: 48px;
}

.p-colossal {
  padding: 56px;
}

.p-monstrous {
  padding: 64px;
}

.p-titanic {
  padding: 72px;
}

.pr-tiny {
  padding-right: 4px;
}

.pr-small {
  padding-right: 8px;
}

.pr-medium {
  padding-right: 16px;
}

.pr-large {
  padding-right: 24px;
}

.pr-huge {
  padding-right: 32px;
}

.pr-giant {
  padding-right: 40px;
}

.pr-enormous {
  padding-right: 48px;
}

.pr-colossal {
  padding-right: 56px;
}

.pr-monstrous {
  padding-right: 64px;
}

.pr-titanic {
  padding-right: 72px;
}

.pb-tiny {
  padding-bottom: 4px;
}

.pb-small {
  padding-bottom: 8px;
}

.pb-medium {
  padding-bottom: 16px;
}

.pb-large {
  padding-bottom: 24px;
}

.pb-huge {
  padding-bottom: 32px;
}

.pb-giant {
  padding-bottom: 40px;
}

.pb-enormous {
  padding-bottom: 48px;
}

.pb-colossal {
  padding-bottom: 56px;
}

.pb-monstrous {
  padding-bottom: 64px;
}

.pb-titanic {
  padding-bottom: 72px;
}

.pl-tiny {
  padding-left: 4px;
}

.pl-small {
  padding-left: 8px;
}

.pl-medium {
  padding-left: 16px;
}

.pl-large {
  padding-left: 24px;
}

.pl-huge {
  padding-left: 32px;
}

.pl-giant {
  padding-left: 40px;
}

.pl-enormous {
  padding-left: 48px;
}

.pl-colossal {
  padding-left: 56px;
}

.pl-monstrous {
  padding-left: 64px;
}

.pl-titanic {
  padding-left: 72px;
}

h1 {
  font-size: 5.375rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 1px;
}

h2 {
  font-size: 4.479rem;
  font-weight: 500;
}

h3 {
  font-size: 3.732rem;
}

h4 {
  font-size: 2.765rem;
  line-height: 1.25;
}

h5 {
  font-size: 2.304rem;
}

h6 {
  font-size: 1.92rem;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
}

button {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.95px;
}

p,
li {
  font-size: 1.8rem;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-optical-sizing: auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #101820;
  font-optical-sizing: auto;
  line-height: 1.75;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main__content {
  display: flex;
  width: 100%;
}

.inner__container {
  max-width: 96rem;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  margin-top: 4rem !important;
}
@media (min-width: 48rem) {
  .inner__container {
    margin: 0 auto;
  }
}

.intro {
  color: #002E5F;
}
.intro p {
  font-size: 2.304rem;
  line-height: 1.35;
}

a {
  color: #25AAE1;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  text-transform: uppercase;
  padding: 1rem 2.4rem;
  border: none;
}
.btn--primary {
  background-color: transparent;
  border: 1px solid #25AAE1;
  border-radius: 5px;
}
.btn--secondary {
  background-color: #F8901F;
}
.btn--secondary a {
  color: #101820;
}

.weather {
  margin-right: 1.6rem;
}
.weather--icons {
  position: absolute;
  bottom: 5rem;
  left: 2.5rem;
}
@media (min-width: 48rem) {
  .weather--icons {
    bottom: 4rem;
    left: 4rem;
  }
}
.weather__info {
  display: flex;
  gap: 2.4rem;
  color: rgb(242.8, 245.85, 248.9);
}
.weather__detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2.4rem;
  line-height: 1;
  text-align: center;
}
.weather__icon {
  width: 45px;
}
.weather__icon img {
  object-fit: cover;
}

.announcements {
  background-color: rgba(242.8, 245.85, 248.9, 0.8);
  padding: 1.6rem;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #002E5F;
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
  z-index: 20;
}
.announcements[aria-expanded=false] .announcements__details {
  display: none;
}
.announcements[aria-expanded=false] .announcements__closed {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.announcements[aria-expanded=false] .announcements__open {
  display: none;
}
.announcements[aria-expanded=true] .announcements__details {
  display: block;
}
.announcements[aria-expanded=true] .announcements__closed {
  display: none;
}
.announcements[aria-expanded=true] .announcements__open {
  display: inline-block;
}
.announcements__header {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.announcements__header span {
  font-size: 2.4rem;
}
.announcements__details {
  display: block;
}
.announcements__details a {
  color: #BF1E2E;
}

.card {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
@media (min-width: 48rem) {
  .card {
    flex-direction: row;
    justify-content: space-between;
  }
}
.card__details {
  max-width: 583px;
}
.card__details--right {
  padding: 2.4rem 0;
}
@media (min-width: 48rem) {
  .card__details--right {
    padding: 2.4rem 0 2.4rem 6.4rem;
  }
}
.card__details--left {
  padding: 2.4rem 0;
}
@media (min-width: 48rem) {
  .card__details--left {
    padding: 2.4rem 6.4rem 2.4rem 0;
  }
}
.card__details h2 {
  margin-bottom: 4rem;
  line-height: 1.2;
}
.card__details p {
  margin-bottom: 2.4rem;
}

.header {
  position: absolute;
  z-index: 50;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 2.4rem 4rem 2.4rem;
}
@media (min-width: 48rem) {
  .header {
    padding: 4rem 4rem;
  }
}
.header__logo {
  width: 16rem;
}

.nav__logo--mobile {
  display: none;
  text-align: center;
  margin-bottom: 2rem;
}
.nav__logo--mobile img {
  width: 12rem;
}
.nav__items {
  display: none;
}
@media (min-width: 48rem) {
  .nav__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.nav__item {
  color: rgb(242.8, 245.85, 248.9);
  font-size: 1.8rem;
  margin-right: 6.4rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid rgb(242.8, 245.85, 248.9);
}
.nav__item a {
  color: rgb(242.8, 245.85, 248.9);
}
@media (min-width: 48rem) {
  .nav__item {
    margin-bottom: 0;
    border-bottom: none;
  }
}
.nav__item:last-child {
  margin-right: 6.4rem;
}
@media (min-width: 48rem) {
  .nav__item:last-child {
    margin-right: 0;
  }
}
.nav--active .nav__logo--mobile {
  display: block;
  position: absolute;
  z-index: 51;
  left: 40px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 4.5rem;
  height: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 60;
}
@media (min-width: 48rem) {
  .hamburger {
    display: none;
  }
}
.hamburger__line {
  width: 100%;
  height: 0.2rem;
  background-color: rgb(242.8, 245.85, 248.9);
  transition: all 0.3s ease;
}
.hamburger__line.line1 {
  transform-origin: top left;
}
.hamburger__line.line3 {
  transform-origin: bottom left;
}
.hamburger.open .hamburger__line {
  height: 0.25rem;
}
.hamburger.open .line1 {
  transform: rotate(40deg);
}
.hamburger.open .line2 {
  opacity: 0;
}
.hamburger.open .line3 {
  transform: rotate(-40deg);
}

.nav--active .nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #002E5F;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  z-index: 50;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* 20% opacity black overlay */
  z-index: 1; /* Ensure the overlay sits above the video */
}
.hero--home {
  position: relative;
  width: 100%;
  height: 100vh; /* Ensures hero section fills only the viewport */
}
.hero__vid {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Keeps video centered and fills container */
  z-index: 0; /* S /* Ensures the video covers the entire area */
}
.hero__titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(242.8, 245.85, 248.9);
  text-align: center;
  z-index: 2;
}
.hero__subtitle {
  font-size: 3.981rem;
  z-index: 2;
}
.hero__links {
  position: absolute;
  top: 50%;
  left: 2.4rem;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 48rem) {
  .hero__links {
    left: 4rem;
  }
}
.hero__links a {
  display: flex; /* Enable flexbox for the link */
  align-items: center; /* Vertically center the icon and text */
  gap: 1rem; /* Add space between the icon and text */
  color: white;
  font-size: 3.89rem;
  text-decoration: none;
}
.hero__links--icon {
  display: inline-block;
  width: 45px;
  height: 45px;
}
.hero__links--icon img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 10;
  padding: 2.4rem 2.4rem;
}
@media (min-width: 48rem) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer--home {
  position: absolute;
  bottom: 0;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 48rem) {
  .footer--home {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 48rem) {
  .footer {
    padding: 4rem 4rem;
  }
}
.footer__user-actions {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .footer__user-actions {
    flex-direction: row;
  }
}
.footer__user-actions a {
  color: #002E5F;
}
.footer__newsletter {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  line-height: 0;
}
.footer__newsletter span {
  font-size: 1.1rem;
  letter-spacing: 0.19rem;
}
.footer__privacy ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.4rem;
}
.footer__privacy ul li {
  font-size: 1.2rem;
  margin-right: 2.4rem;
}
.footer__privacy ul li:last-of-type {
  margin-right: 0;
}

.social__icons {
  display: flex;
  justify-content: center;
}
.social__icon {
  margin: 2.4rem;
  max-width: 35px;
}
@media (min-width: 48rem) {
  .social__icon {
    margin: 0;
    margin-right: 1.6rem;
    margin-left: 2.4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
