/* Margin utility classes */
.m-tiny {
  margin: 4px;
}

.m-small {
  margin: 8px;
}

.m-medium {
  margin: 16px;
}

.m-large {
  margin: 24px;
}

.m-huge {
  margin: 32px;
}

.m-giant {
  margin: 40px;
}

.m-enormous {
  margin: 48px;
}

.m-colossal {
  margin: 56px;
}

.m-monstrous {
  margin: 64px;
}

.m-titanic {
  margin: 72px;
}

.mt-tiny {
  margin-top: 4px;
}

.mt-small {
  margin-top: 8px;
}

.mt-medium {
  margin-top: 16px;
}

.mt-large {
  margin-top: 24px;
}

.mt-huge {
  margin-top: 32px;
}

.mt-giant {
  margin-top: 40px;
}

.mt-enormous {
  margin-top: 48px;
}

.mt-colossal {
  margin-top: 56px;
}

.mt-monstrous {
  margin-top: 64px;
}

.mt-titanic {
  margin-top: 72px;
}

.mr-tiny {
  margin-right: 4px;
}

.mr-small {
  margin-right: 8px;
}

.mr-medium {
  margin-right: 16px;
}

.mr-large {
  margin-right: 24px;
}

.mr-huge {
  margin-right: 32px;
}

.mr-giant {
  margin-right: 40px;
}

.mr-enormous {
  margin-right: 48px;
}

.mr-colossal {
  margin-right: 56px;
}

.mr-monstrous {
  margin-right: 64px;
}

.mr-titanic {
  margin-right: 72px;
}

.mb-tiny {
  margin-bottom: 4px;
}

.mb-small {
  margin-bottom: 8px;
}

.mb-medium {
  margin-bottom: 16px;
}

.mb-large {
  margin-bottom: 24px;
}

.mb-huge {
  margin-bottom: 32px;
}

.mb-giant {
  margin-bottom: 40px;
}

.mb-enormous {
  margin-bottom: 48px;
}

.mb-colossal {
  margin-bottom: 56px;
}

.mb-monstrous {
  margin-bottom: 64px;
}

.mb-titanic {
  margin-bottom: 72px;
}

.ml-tiny {
  margin-left: 4px;
}

.ml-small {
  margin-left: 8px;
}

.ml-medium {
  margin-left: 16px;
}

.ml-large {
  margin-left: 24px;
}

.ml-huge {
  margin-left: 32px;
}

.ml-giant {
  margin-left: 40px;
}

.ml-enormous {
  margin-left: 48px;
}

.ml-colossal {
  margin-left: 56px;
}

.ml-monstrous {
  margin-left: 64px;
}

.ml-titanic {
  margin-left: 72px;
}

/* Padding utility classes */
.p-tiny {
  padding-top: 4px;
}

.p-small {
  padding-top: 8px;
}

.p-medium {
  padding-top: 16px;
}

.p-large {
  padding-top: 24px;
}

.p-huge {
  padding-top: 32px;
}

.p-giant {
  padding: 40px;
}

.p-enormous {
  padding: 48px;
}

.p-colossal {
  padding: 56px;
}

.p-monstrous {
  padding: 64px;
}

.p-titanic {
  padding: 72px;
}

.pr-tiny {
  padding-right: 4px;
}

.pr-small {
  padding-right: 8px;
}

.pr-medium {
  padding-right: 16px;
}

.pr-large {
  padding-right: 24px;
}

.pr-huge {
  padding-right: 32px;
}

.pr-giant {
  padding-right: 40px;
}

.pr-enormous {
  padding-right: 48px;
}

.pr-colossal {
  padding-right: 56px;
}

.pr-monstrous {
  padding-right: 64px;
}

.pr-titanic {
  padding-right: 72px;
}

.pb-tiny {
  padding-bottom: 4px;
}

.pb-small {
  padding-bottom: 8px;
}

.pb-medium {
  padding-bottom: 16px;
}

.pb-large {
  padding-bottom: 24px;
}

.pb-huge {
  padding-bottom: 32px;
}

.pb-giant {
  padding-bottom: 40px;
}

.pb-enormous {
  padding-bottom: 48px;
}

.pb-colossal {
  padding-bottom: 56px;
}

.pb-monstrous {
  padding-bottom: 64px;
}

.pb-titanic {
  padding-bottom: 72px;
}

.pl-tiny {
  padding-left: 4px;
}

.pl-small {
  padding-left: 8px;
}

.pl-medium {
  padding-left: 16px;
}

.pl-large {
  padding-left: 24px;
}

.pl-huge {
  padding-left: 32px;
}

.pl-giant {
  padding-left: 40px;
}

.pl-enormous {
  padding-left: 48px;
}

.pl-colossal {
  padding-left: 56px;
}

.pl-monstrous {
  padding-left: 64px;
}

.pl-titanic {
  padding-left: 72px;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #101820;
  font-optical-sizing: auto;
  line-height: 1.75;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: rgb(242.8, 245.85, 248.9);
  text-decoration: none;
}

p,
li {
  font-size: 1.6rem;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 4rem;
}
.header__logo {
  width: 22rem;
}

.nav__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav__item {
  color: rgb(242.8, 245.85, 248.9);
  font-size: 1.8rem;
  margin-right: 6.4rem;
}
.nav__item:last-child {
  margin-right: 0;
}

.hero {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* 20% opacity black overlay */
  z-index: 1; /* Ensure the overlay sits above the video */
}
.hero__vid {
  width: 100%;
  height: 100vh; /* Make the video fill the height of the viewport */
  object-fit: cover; /* Ensures the video covers the entire area */
}

/*# sourceMappingURL=styles.css.map */
