.course-content {
    &__learn {
        padding-left: 3rem;
        li {
            list-style: disc;
            margin-bottom: 0;
            line-height: 1.25;
        }
    }
}

.class-info {
    &__header {
        hr {
             margin: 1rem 0 2.4rem 0;
            border-top: 1.5px solid $color-secondary; 

            &:last-of-type {
                margin-top: 2.4rem;
            }
        }
    }
    p {
        font-weight: $font-heavy;
        margin: 0;
    }
}

.session-info {
    &__dates {
        display: none;
    }
}