.course-content {
    &__learn {
        padding-left: 3rem;
        li {
            list-style: disc;
            margin-bottom: 0;
            line-height: 1.25;
        }
    }
}

.class-info {
    &__header {
        hr {
            margin: 1rem 0 2.4rem 0;
            border-top: 1.5px solid $color-secondary; 

            &:last-of-type {
                margin-top: 2.4rem;
            }
        }
    }
    p {
        font-weight: $font-heavy;
        margin: 0;
    }
}

.session-info {
    ul {
        margin-bottom: 3.2rem;
    }
    &__dates {
        display: none;
    }
}

.image__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 4rem;
}

/* Define the placement of each image */
.image__grid img:nth-child(1) {
    grid-column: 1 / -1; /* Full width */
}

.image__grid img:nth-child(2) {
    grid-column: 1; /* Left column */
}

.image__grid img:nth-child(3) {
    grid-column: 2; /* Right column */
}

.image__grid img:nth-child(4) {
    grid-column: 1 / -1; /* Full width */
}


.bistro {
    &__menu {
        h3 {
            color: $color-tertiary;
            text-transform: uppercase;
        }
        h4 {
            width: fit-content;
            margin-top: 2.4rem;
            margin-bottom: 1.6rem;
            border-bottom: 1px solid $color-secondary;
        }
        hr {
            margin: 0 0 2.4rem 0;
            border-top: 1.5px solid $color-secondary; 
        }
    }

    &__item {
        font-weight: $font-heavy;
        margin-bottom: 1.6rem;
        margin-left: 1.6rem;
        line-height: 1;

        &--description {
            display: block;
            margin-top: .8rem;
            font-weight: $font-light;
        }
    }

    p {
        font-weight: $font-normal;
    }
}

.food-consumption {
    
    color: $color-errors;
}